@import "tailwindcss";
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

/* Force all text colors to use rgb instead of oklch */
/* * {
  color: rgb(0 0 0 / 1) !important;
} */
.slick-slider {
  height: 100% !important;
}

.slick-list {
  height: 100% !important;
}

.slick-track {
  height: 100% !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100% !important;
}



/* Hide scrollbar for all elements with 'scrollbar-hide' class */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
